@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  padding-top: 4rem;
  background-color: #effeed;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

form {
  margin: 3rem;
  color: white;
  width: 20rem;
}

li {
  padding: 0.5rem;
}

.navbar {
  background-color: #cde8caeb;
  position: fixed;
  top: 0;
  width: 100vw;
}

.navbar-toggle {
  margin: 0;
  margin-left: 0.7rem;
  padding: 0.7rem;
  border: none;
  font-size: 2rem;
}

.navbar-toggle:hover {
  border: none;
  background-color: transparent;
  color: #749e70;
}

.navbar-menu {
  display: none;
}

.navbar-menu.show {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0;
  background-color: #cde8ca00;
  font-size: 0.75rem;
}

a {
  color: #749e70;
}

a:hover {
  font-weight: bold;
}

#form1 {
  background-color: #ff6e9c;
}

#form1 select {
  color: #ff6e9c;
}

#form1 .quantidade {
  color: #ff6e9c;
}

#form2 {
  background-color: #00bc3c;
}

#form2 select {
  color: #00bc3c;
}

#form2 .quantidade {
  color: #00bc3c;
}

#form3 {
  background-color: #b100f1;
}

#form3 select {
  color: #b100f1;
}

#form3 .quantidade {
  color: #b100f1;
}

#form4 {
  background-color: #fd7f01;
}

#form4 select {
  color: #fd7f01;
}

#form4 .quantidade {
  color: #fd7f01;
}

#form5 {
  background-color: #ce0000;
}

#form5 select {
  color: #ce0000;
}

#form5 .quantidade {
  color: #ce0000;
}

#form6 {
  background-color: #2665cb;
}

#form6 select {
  color: #2665cb;
}

#form6 .quantidade {
  color: #2665cb;
}

#form7 {
  background-color: #1eb58a;
}

#form7 select {
  color: #1eb58a;
}

#form7 .quantidade {
  color: #1eb58a;
}

#form8 {
  background-color: #e20080;
}

#form8 select {
  color: #e20080;
}

#form8 .quantidade {
  color: #e20080;
}

#form9 {
  background-color: #720081;
}

#form9 select {
  color: #720081;
}

#form9 .quantidade {
  color: #720081;
}

#form10 {
  background-color: #c0b005;
}

#form10 select {
  color: #c0b005;
}

#form10 .quantidade {
  color: #c0b005;
}

#form11 {
  background-color: #00778f;
}

#form11 select {
  color: #00778f;
}

#form11 .quantidade {
  color: #00778f;
}

#form12 {
  background-color: #6c03bc;
}

#form12 select {
  color: #6c03bc;
}

#form12 .quantidade {
  color: #6c03bc;
}

#form13 {
  background-color: #e73f66;
}

#form13 select {
  color: #e73f66;
}

#form13 .quantidade {
  color: #e73f66;
}

#form14 {
  background-color: #009035;
}

#form14 select {
  color: #009035;
}

#form14 .quantidade {
  color: #009035;
}

#form15 {
  background-color: #e10000;
}

#form15 select {
  color: #e10000;
}

#form15 .quantidade {
  color: #e10000;
}

#form16 {
  background-color: #2665cb;
}

#form16 select {
  color: #2665cb;
}

#form16 .quantidade {
  color: #2665cb;
}

#form17 {
  background-color: #ff5a1e;
}

#form17 select {
  color: #ff5a1e;
}

#form17 .quantidade {
  color: #ff5a1e;
}

#form18 {
  background-color: #6f3994;
}

#form18 select {
  color: #6f3994;
}

#form18 .quantidade {
  color: #6f3994;
}

#form19 {
  background-color: #46b000;
}

#form19 select {
  color: #46b000;
}

#form19 .quantidade {
  color: #46b000;
}

fieldset {
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  border: none;
}

legend {
  font-weight: bold;
  padding-top: 1.2rem;
}

label {
  margin: 1.3rem 0 0.7rem 0;
}

select {
  width: 17.6rem;
}

input,
select {
  font-family: 'Montserrat', sans-serif;
  padding: 0.5rem;
  border-radius: 0;
  border-color: transparent;
}

button {
  max-width: 10rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding: 0.8rem 3rem;
  border-radius: 0;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

button:hover {
  cursor: pointer;
  border: 2px dashed #fff;
  background-color: #ffffff33;
}

.total {
  margin-top: 0;
}

table {
  border: 2px dashed #fff;
  padding: 0.5rem;
}

tr {
  font-size: 0.7rem;
}

.tHead {
  font-weight: 600;
  font-size: 0.6rem;
  text-transform: uppercase;
  line-height: 2.2rem;
}

.fundoClaro {
  background-color: #ffffff33;
}